.parent-layout {
    @apply flex h-full;

  .white-sider {
     @apply bg-white p-6;

     .side-menu {
        @apply mt-6;

        border-inline-end: 0;
        
        
       
     }
  }

  .content-box {
    margin: 0;
    padding: 24px;
  }
}


